$text: #212121;
$border: #e3e3e3;
$border-light: rgba(227, 227, 227, 0.6);
$blue: #039be5;
$dark-blue: #006db3;
$white: #ffffff;

$gauge1: #e5032a,;
$gauge2: #e54d03;
$gauge3: #e5be03;
$gauge4: #9be503;
$gauge5: #03e54d;